/* theme color & theme font */

$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// http://element-cn.eleme.io/#/zh-CN/component/color
//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

// 主要颜色
$M: #409eff;

// 文字
$T: #303133; // 主要文字
$T50: #606266; // 常规文字
$T60: #909399; // 次要文字
$T70: #c0c4cc; // 占位文字

// 边框
$B: #dcdfe6; // 一级边框
$B50: #e4e7ed; // 二级边框
$B60: #ebeef5; // 三级边框
$B70: #f2f6fc; // 四级边框

// 辅助色
$Success: #67c23a;
$Warn: #e6a23c;
$Info: #909399;
$Danger: #f56c6c;

// 字体
$F20: 20px; // 主标题
$F18: 18px; // 标题
$F16: 16px; // 小标题
$F14: 14px; //正文
$F13: 13px; // 小正文
$F12: 12px; // 辅助文字

// FMC

$FMC-Gray: #4a4a4a; // 灰色颜色
$FMC-Gray-Help: #767685; // 浅灰色
